// Responsive Breakpoints
$mobile: 600px;
$tablet: 991.9px;
$desktop: 992px;
$highres-desktop: 1400px;

// Colors
$white: #ffffff;
$black: #000000;
$dark: #21242a;
$grey: #f6f6f6;
$green: #1c939b;

// Mobile
@media only screen and (max-width: $mobile) {
  .content {
    padding: 46px 0;

    &__table {
      .addProduct__button {
        justify-content: flex-end;

        button {
          width: 100%;
          justify-content: center;
        }
      }
    }
  }
}

// Tablet
@media (min-width: $mobile) and (max-width: $tablet) {
  .content {
    padding: 64px 0;

    &__table {
      .addProduct__button {
        justify-content: flex-end;

        button {
          width: 100%;
          justify-content: center;
        }
      }
    }
  }

  .react-bootstrap-table {
    thead {
      tr {
        th {
          padding: 16px;
        }
      }
    }

    tbody {
      tr {
        td {
          padding: 16px;
        }
      }
    }
  }
}

// Desktop
@media only screen and (min-width: $desktop) {
  .content {
    padding: 64px 0;

    &__table {
      .addProduct__button {
        justify-content: flex-start;
      }
    }
  }

  .react-bootstrap-table {
    thead {
      tr {
        th {
          padding: 16px;
        }
      }
    }

    tbody {
      tr {
        td {
          padding: 16px;
        }
      }
    }
  }
}

// Global scope
.content {
  background-color: $grey;

  &__header {
    text-align: center;
    padding-bottom: 28px;

    &__title {
      font-size: 28px;
      font-weight: 700;
    }
  }

  &__table {
    &__spinner {
      display: grid;
      place-items: center;
      text-align: center;
      height: 60vh;

      .wrapper {
        display: flex;
        flex-direction: row;
        grid-column-gap: 8px;
      }
    }

    .error__message {
      display: grid;
      place-items: center;
      text-align: center;
      height: 60vh;

      &__wrapper {
        display: flex;
        flex-direction: column;
        grid-row-gap: 8px;
      }

      h2 {
        font-weight: bold;
      }

      h4 {
        span {
          color: red;
        }
      }
    }

    .addProduct__button {
      display: flex;
      margin-bottom: 10px;

      button {
        display: flex;
        flex-direction: row;
        align-items: center;
        grid-column-gap: 8px;
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
}

.react-bootstrap-table {
  overflow: auto;

  table {
    width: 100%;
    table-layout: auto !important;
    background-color: $white;
  }

  thead {
    color: $white;
    background-color: $green;
    vertical-align: middle !important;

    tr {
      th {
        .filter-label {
          .form-control {
            display: flex;
            font-size: 13px;
            margin-top: 8px;
          }
        }
      }
    }
  }

  tbody {
    tr {
      font-size: 14px;

      td {
        vertical-align: middle;
      }
    }
  }
}

.react-bootstrap-table-pagination {
  &-list {
    .pagination {
      justify-content: flex-end;
    }
  }
}

.actionButton__wrapper {
  display: flex;
  justify-content: center;
  grid-column-gap: 8px;

  button {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-column-gap: 8px;
    font-size: 13px;
    font-weight: 600;
  }
}
